{% extends 'base.html' %}
{% block content %}
{% load static %}
{% for resource in resources %}

<body class="d-flex flex-column h-100 main-bg">
<div class="container mt-5">
  <div class="row">
    <div class="col-8">
      <!-- Title -->
      <h2>{{ resource.title }}</h2>
      <!-- Content -->
      {{ resource.content | safe }}
    </div>
  </div>
</div>
{% endfor %}
<div class="row">
  <div class="col text-right">
    <!-- Added by -->
    <p class="text-end"><em>Links to Resources Added by Site's Admin {{ resources.updated_on }}</em></p>
  </div>
</div>
</body>
{% endblock content %}