{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="container mt-5">
  <div class="row">
    <div class="col-4 text-center">
      <img src="{% static 'images/cloudsoptimized.jpg' %}" width="75%">
    </div>
    <div class="col-8">
      <!-- Title -->
      <h2>{{ resources.title }}</h2>
      <!-- Content -->
      {{ resources.content | safe }}
    </div>
  </div>
  <div class="row">
    <div class="col text-right">
      <!-- Updated on -->
      <p class="text-end"><em>Updated on: {{ resources.updated_on }}</em></p>
    </div>
  </div>
</div>
{% endblock content %}